DB_HOST=127.0.0.1:8000
DB_USER=root
DB_PASS=password
DB_NS=namespace
DB_DB=database
JWT_SECRET=super_secret_key_from_env_file
MIGRATIONS_DIR=/migrations
ENCRYPTION_KEY=01234567890123456789012345678901
STORAGE_PROVIDER=
STORAGE_BUCKET=
STORAGE_REGION=
STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_PUBLIC_URL=
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
